@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */

:root {
  --colorGreen: #c5f82a;
  --colorWhite: #fff;
  --colorGrey: #333333;
  --colorDarkGrey: #1f1f1f;
  --colorBlack: #141414;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--colorBlack);
}

.card {
  color: var(--colorWhite);
  background-color: var(--colorDarkGrey);
}

img {
  width: 88px;
}

h2 {
  color: var(--colorGreen);
}
